main.main
	.section-wrapper
		.cards
			.cards__wrapper
				.cards__inner
					.card
						.card__front
							| Карточка фронт
						.card__back.hide
							| Карточка бэк
					.card
						.card__front
							| Карточка фронт
						.card__back.hide
							| Карточка бэк
					.card
						.card__front
							| Карточка фронт
						.card__back.hide
							| Карточка бэк
					.card
						.card__front
							| Карточка фронт
						.card__back.hide
							| Карточка бэк
					.card
						.card__front
							| Карточка фронт
						.card__back.hide
							| Карточка бэк
					.card
						.card__front
							| Карточка фронт
						.card__back.hide
							| Карточка бэк
					.card
						.card__front
							| Карточка фронт
						.card__back.hide
							| Карточка бэк
					.card
						.card__front
							| Карточка фронт
						.card__back.hide
							| Карточка бэк




